* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
  width: 30%;
}

.input-error {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #6c757d;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.submit-btn {
  display: flex;
  background-color: #d87d4a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 20%;
  justify-content: center;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: #c46f3b;
}
